*{-o-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:'Exo';margin:0;padding:0;color:#FFF;}
html{font-size:125%;}
a, a:hover, a:focus{text-decoration:none !important;color:#FFF;}

#home, .footer{background:#666;}
#qui-suis-je{background:url(../img/photoMoi.png) no-repeat top right, #C03;}
#realisations{background:#0C9;}
#services{background:#FC0;}
#contact{background:#069;}

.link-u:hover{text-decoration:underline !important;}
.right{float:right;}

.body{position:fixed;top:0;z-index:10;}

.section{font-size:1rem;padding:2rem 15%;text-align:center;position:relative;}
.section>*{z-index:100;position:relative;}
h1.title{border-bottom:4px solid #FFF;padding-bottom:1.4rem;margin-bottom:2.8rem;font-weight:bold;font-size:2.5rem;}
h2.title{margin-bottom:1rem;font-weight:normal;display:inline-block;}

.footer{padding-bottom:1rem;}
.footer>*:last-child{font-size:.75rem;}
.footer a{border-bottom:1px solid #FFF;}

main{position:relative;}

/* HEADER */
#home section{position:relative;}
#home .title .img{width:100%;}
#home .txt{font-size:2.4rem;}

/* NAVIGATION */
.nav{background:#FFF;font-weight:bold;height:4rem;position:relative;top:0;z-index:1000;padding:0 8%;width:100%;}
.nav .logo{position:relative;top:11px;display:none;}
.menu{right:8%;top:0;position:absolute;}
.menu .link{display:inline-block;height:4rem;line-height:3.6rem;padding:.3rem .6rem;border:0 solid #FFF;font-size:1rem;}
.menu .link:nth-child(1){border-color:#C03;}
.menu .link:nth-child(2){border-color:#0C9;}
.menu .link:nth-child(3){border-color:#FC0;}
.menu .link:nth-child(4){border-color:#069;}
.menu .link.actif{color:#FFF;text-decoration:none;}
.menu .link:not(.actif){color:#666;}
.menu .link:not(.actif):hover{border-bottom-width:.3rem;}

/* QUI-SUIS-JE */
#qui-suis-je .article{text-align:left;width:75%;}
.performances{margin-top:4rem;}
.block-white{background:#FFF;box-shadow:.1rem .1rem .2rem rgb(90,90,90);display:table-cell;padding:.5rem;position:relative;vertical-align:top;}
.block-white h2{color:#666;}
.chart{border:none;height:80px;margin:0 0.1rem;padding:0;position:relative;width:80px;background:#FFF;cursor:pointer;}
.chart canvas{left:0;position:absolute;top:0;}
.chart img{left:0;position:absolute;top:0;}
.chart:hover{background:transparent;}
.tooltip, .tooltip.bottom .tooltip-arrow, .tooltip .tooltip-inner{background:#666;border-bottom-color:#666;}
.tooltip-arrow{display:none;}

/* REALISATIONS */
#realisations .tab{text-align:left;}
#realisations .tab .cell{display:inline-flex;margin:0.2rem;position:relative;width:32%;cursor:pointer;}
#realisations .tab .cell:hover{background:transparent;}
#realisations .tab .cell img{width:100%;height:100%;}
#realisations .tab .cell .description{background:#FFF;bottom:0;display:none;left:0;min-height:5rem;opacity:.85;padding:.2rem;position:absolute;text-align:justify;white-space:normal;width:100%;font-size:.75rem;}
#realisations .tab .cell:hover .description{display:block;}
#realisations .tab .cell .description *{color:#666;}
/*#realisations .tab .size1{height:9rem;}*/
/*#realisations .tab .size2{height:12rem;}*/
.popin-bg{background:rgba(128,128,128,.5);bottom:0;color:#333;display:none;left:0;position:fixed;right:0;top:0;z-index:10000;}
.popin{background:white;bottom:12.5%;box-shadow:0 0 .4rem rgb(64,64,64);left:12.5%;padding:1.5rem;position:absolute;right:12.5%;top:12.5%;}
.popin>*{color:#666;}
.popin .title{border-bottom:1px solid #000;font-weight:normal;margin-bottom:1.4rem;padding-bottom:.4rem;}
.popin .close{position:absolute;right:1.5rem;top:1.5rem;}
.popin .close .img{margin-left:.2rem;vertical-align:bottom;}
.popin>.desc, .popin .carousel{display:inline-block;vertical-align:top;width:100%;}
.popin>.desc{width:30%;}
.popin>.carousel{text-align:center;width:70%;}
.popin .carousel .img{margin:auto;}
.popin .carousel .carousel-indicators{bottom:10px;}
.popin .carousel .carousel-control{background:@gray;}
.popin .carousel .carousel-caption{bottom:0;left:0;padding-bottom:10px;right:0;}
.popin .carousel:hover .carousel-caption{background:@white;}
.cell div.share{background:#FFF;left:0;position:absolute;top:0;}

/* SERVICES */
.table{margin-top:2rem;}
.package{background:#FFF;box-shadow:.1rem .1rem .2rem rgb(90,90,90);display:table-cell;padding:.5rem;}
.package *{color:#666;}

/* CONTACT */
#contact div{display:inline-block;margin-top:2rem;vertical-align:top;width:60%;}
#contact .link:hover{color:#FFF;}
#contact .coord{width:40%;text-align:right;}
#contact .coord .img{width:64px;border:2px solid transparent;margin:0 1rem;}
#contact .coord .img.last{margin-right:0;}
#contact .coord .img:hover{border-color:#FFF;opacity:.7;}
.form-input, .form-area{border:1px solid #808080;box-shadow:-.1rem -.1rem .2rem #999 inset;color:#333;margin-bottom:.6rem;padding:.2rem .4rem;width:100%;font-size:1rem;}
.form-input:focus, .form-area:focus{outline:3px solid #00294F;}
.form-label{display:block;text-align:left;}
.form-input{height:2rem;}
.form-area{max-height:18rem;max-width:100%;min-height:9rem;min-width:100%;}
.form-btn[type=submit]{background:url(../img/btn_Valider.png) #069;border:2px solid #00294F;float:right;border-radius:0;}
.form-btn[type=submit]:hover{background:#00345D;border-color:#00345D;color:#FFF;}





@media (max-width:767px) { /* Smartphone */
	*{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;-o-hyphens:auto;hyphens:auto;word-break:break-word;}
	html{font-size:80%;}
	h1{font-size:1.8rem;}
	h2{font-size:1.5rem;}
	h3{font-size:1.2rem;}
	h4, p{font-size:1rem;}
	.body, .centre{padding:0 .2rem;width:auto;}
	.body .img{width:100%;}
	.nav .logo{top:0;width:10%;}
	.logo .link .img{height:100%;visibility:hidden;width:100%;}
	.logo .link{background:url(../images/petitD.png) no-repeat center center;}
	.menu{font-size:14px;width:90%;}
	.menu .link{padding:.1rem .3rem;}
	.section .photo{width:55%;}
	.section .photo img{width:100%;}
	.section .block{width:85%;}
	#qui-suis-je .article{width:100%;}
	#qui-suis-je .mini_perform{text-align:center;}
	.package div img{display:inline-block;width:40%;}
	.package div{display:block;width:100%;}
	.contact .img{width:30%;}
	.contact .coord .img{margin:0;width:20%;}
	.contact #contact>div{display:block;margin-top:3rem;vertical-align:top;width:100%;}
	.contact #contact>div:last-child{text-align:left;width:100%;}
	#realisations .tab .cell .description{height:40%;}
	#realisations .tab .cell{width:50%;}
	#realisations p{display:none;}
	.popin>.desc, .popin>.carousel{display:block;width:100%;}
	.popin .carousel .carousel-caption{padding-bottom:0;}
	.footer.centre{padding:1% 8%;top:51px;}
}
@media (min-width:768px) and (max-width:991px) { /* Tablette */
}
@media (min-width:992px) and (max-width:1199px) { /* Ordinateur */
}
@media (min-width:1200px) { /* TV */
}