<div class="popin">
	<div class="close"><img class="img" src="img/close.png"></div>

	<h1><?php echo $res['titre'];?></h1>

	<div class="desc"><?php echo $res['description'];?></div><!--

--><div class="carousel">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

			<ol class="carousel-indicators">
				<?php require('../app/popin-nav.php');?>
			</ol>

			<div class="carousel-inner">
				<?php require('../app/popin-mid.php');?>
			</div>

			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="clr-white glyphicon glyphicon-chevron-left"></span>
			</a>

			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>

		</div>
	</div>

</div>